@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --background: #ffffff; */
  --background: #f5f5f5; /* Abu Terang */
  --foreground: #171717;
  --primary: #0f3d3e; /* Dark Green */
  --accent: #ffffff; /* Putih */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --primary: #0f3d3e;
    --accent: #ffffff; /* Putih */
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
